---
title: {{ entitlement.name }}
description: {{ entitlement.short_description }}
date: {{ entitlement.created }}
draft: false
menu:
  showcase:
    parent: "browse"
weight: 100
toc: false
pinned: false
featured: false
entitlement_tactics: {{ entitlement.tactics }}
entitlement_tags: {{ entitlement.tags }}
---

# {{ entitlement.name }}
**Key:** `entitlement.key`

{{ entitlement.short_description }}

## Description
{{ entitlement.full_description }}
| Created | Tactics | Tags |
|---|---|---|
| {{ entitlement.created }} | {% for tactic in entitlement.tactics %}<span class="badge text-bg-danger">{{ tactic }}</span> {% endfor %}  | {% for tag in entitlement.tags %}<span class="badge text-bg-secondary">{{ tag }}</span> {% endfor %} | 

{% if entitlement.resources %}
## Resources
{% for resource in entitlement.resources %}
- [{{ resource.name }}]({{ resource.url }})
{% endfor %}
{% endif %}
